{% extends 'base.html.twig' %}

{% block title %}Welcome
{% endblock %}
{% block body %}
	{{dump(articles)}}
	<div class="row text-center mt-5 mb-5 rounded py-5 bx-meteor ">
		<h1>BlogXpress</h1>
		<h4>Tout sur l'actu des vacances en xpress</h4>
	</div>

	<hr>

	<div class="row justify-content-center">

		<h4 class="text-center">Les derniers articles</h4>

		{% for item in articles %}
			<div class="col-md-3 border rounded shadaw-sm  m-4 p-3">
				{# <img src="{{ asset('images/articles') }}/{{ item.image }}" class="card-img" alt="{{ item.title }}"> #}
				{# <div class="card-img-overlay"> #}<h5 class="card-title"> {{ item.title }}</h5>
				<p class="card-text">
					{{ item.content|slice(0,40) }}
					{# <small>{{ item.category.Name }}</small> #}
				</p>
				<h6 class="card-title">{{ item.author.name }}</h6>
				{# <a href={{ path('article', { id: item.id }) }} class="btn btn-sm btn-warning rounded-pill">Lire l'article</a> #}
				{# </div> #}
			</div>
		{% endfor %}
	</div>

{% endblock %}
